body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    background: rgb(87, 83, 83);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#timer-display {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0;
}

button {
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;}